[Unit]
Description=Carregamento das regras ip6tables no boot
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/sbin/ip6tables-restore -w  < /etc/iptables/rules.v6"
ExecStop=/usr/sbin/ip6tables -F
ExecStop=/usr/sbin/ip6tables -X
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
